/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
/web/sites/*/files/
/web/sites/*/settings.local.php
/web/sites/*/services.yml
/private/
/tmp/
/bin/
/.dbcreds
/.env
/.env.local
/web/sites/*/settings.php.new
/web/oc-*.php
.DS_Store
